{{- define "workbook.secret.tpl" -}}
{{- if .Values.imageCredentials }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "workbook.fullname" . }}-registry
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ template "imagePullSecret" . }}
{{- end -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "workbook.fullname" . }}-password
type: Opaque
data:
{{- if .Values.datasource.password }}
  db-password: {{ .Values.datasource.password | b64enc }}
{{- else }}
  {{ fail `db password not set. Please set a password`}}
{{- end }}
{{ end }}

{{- define "workbook.keys.tpl" -}}
{{- if not .Values.oidc.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "workbook.fullname" . }}-jwt-keys
data:
{{ (.Files.Glob "keys/*").AsSecrets | indent 2 }}
{{- end -}}
{{- end -}}
